<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
</head>

<body>

    <div th:replace="fragments/header :: navbar"></div>
    <div class="alert alert-info" role="alert" style="text-align: center;" th:if="${delete_message}" th:text="${delete_message}" />

    <h2 style="text-align:center; padding: 20px;">Admin</h2>

    <div class="navigation-panel" style="text-align: center;">

        <a th:href="@{/admin/orders}" class="col-md-1">
            <button type="button" class="btn btn-success" th:text="Orders">Orders</button>
        </a>
        <a th:href="@{/admin/add-item}" class="col-md-1">
            <button type="button" class="btn btn-primary" th:text="Add-Item">Add Item</button>
        </a>
    </div>
    <div class="row">
        <h4 style="padding: 10px;margin-left: auto;max-width: 90%;">List of all items</h4>
        <table class="table table-striped table-responsive-md" style="max-width: 80%; margin:auto">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Photo</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${AllProducts}">
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.photos}"></td>

                    <td>
                        <a th:href="@{/admin/edit/{id}(id=${product.id})}" class="btn btn-primary">
                            <i class="fas fa-cogs"></i></a>
                    </td>
                    <td>
                        <a th:href="@{/admin/delete/{id}(id=${product.id})}" class="btn btn-danger">
                            <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>