* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 15%;
}

body {
    background-color: #f9f9f9;
}

.pre-header {
    background-color: #fa6540;
    height: 60px;
    color: #343a40;
    padding-top: 15px;
}

.pre-header .logo {
    display: inline-flex;
    color: white;
    text-align: center;
}

.pre-header .first-menu li {
    display: inline-block;
    margin-left: 10px;
}

.pre-header .first-menu li a {
    color: #343a40;
    text-transform: uppercase;
}

.pre-header .first-menu {
    text-align: right;
}


/*Middle section content*/

.window-section {
    background-image: url("../images/proba2.jpg");
    padding-top: 225px;
    padding-bottom: 135px;
    background-size: cover;
    margin-top: 70px;
}

.window-section h1 {
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 20px;
}

.window-section p {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* Newest Product Section */

.newest-products-section h3 {
    text-align: center;
    margin-bottom: 45px;
}

.newest-products-section {
    padding-bottom: 115px;
    padding-top: 115px;
}


/* Grid Container  */

.newest-products-section .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #6ca698;
    padding: 10px;
}


/* Grid item */

.newest-products-section .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.footer {
    height: 60px;
    background-color: #fa6540;
    color: #343a40;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
}

.col-md-4{
	margin-top: 60px;
}



