<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header-css">
</head>

<body>
    <div th:replace="fragments/header :: navbar"></div>
    <div class="alert alert-success" role="alert" style="text-align: center;" th:if="${message}" th:text="${message}" />
    <div class="alert alert-info" role="alert" style="text-align: center;" th:if="${outOfStockMessage}" th:text="${outOfStockMessage}" />
    <div class="window-section">
        <div class="container">
            <div class="row">
                <h1>Welcome to mobile sales page</h1>
                <p>Every tuesday sales on chosen products!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div th:replace="fragments/main :: main-content"></div>
        </div>
    </div>
    
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>